
@{
    ViewBag.Title = "百度AI体验中心";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="ai-section p-t-md p-b-md" id="app" v-cloak>
    <div class="ai-accordion">
        <div class="ai-accordion-item " v-for="(k,index) in accordionItem">
            <div :class="activeAccordionIndex==index?'ai-accordion-title ai-accordion-title-active':'ai-accordion-title'" @@click="handleCollapse(index)">
                {{k.title}}
                <div class="ai-accordion-arrow"></div>
            </div>
            <div :class="activeAccordionIndex==index?'ai-accordion-content ai-accordion-content-active':'ai-accordion-content'" :style="getAccordionContentStyle(index)">
                <a :href="item.flag==1?item.href:'javascript:;'" class="ai-tech-item" v-for="item in k.items">
                    <img :src="'/Static/img/'+item.icon" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">{{item.title}}<font color="red" v-if="item.flag==0">[敬请期待]</font></div>
                        <div class="ai-tech-item-detail">{{item.intro}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
@section PageJS{
    <script src="~/Static/js/home.js?v=001"></script>
}