
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="ai-section p-t-md p-b-md" id="app">
    <div class="ai-accordion">
        <div class="ai-accordion-item" v-for="(k,index) in accordionItem">
            <div class="ai-accordion-title">
                {{k.title}}
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content" style="height:0;">
                <a :href="item.href" class="ai-tech-item" v-for="item in k.items">
                    <img :src="'/Static/img/'+item.icon" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">{{item.title}}</div>
                        <div class="ai-tech-item-detail">{{item.intro}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
@section PageJS{
    <script src="~/Static/js/vendor.js"></script>
    <script src="~/Static/js/home.js"></script>
}