
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="ai-section p-t-md p-b-md">
    <div class="ai-accordion">
        <div class="ai-accordion-item">
            <div class="ai-accordion-title ai-accordion-title-active">
                语音技术
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content ai-accordion-content-active" style="height:27.999899999999997rem;">
                <a href="/tech/speech" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/speech-asr.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">语音识别</div>
                        <div class="ai-tech-item-detail">高精度的语音识别服务，融合百度领先的自然语言处理技术，支持多场景智能语音交互</div>
                    </div>
                </a>
                <a href="/tech/speech/tts" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/speech-tts.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">语音合成</div>
                        <div class="ai-tech-item-detail">基于业界领先的深度神经网络技术，提供流畅自然的语音合成服务，让您的应用开口说话</div>
                    </div>
                </a>
                <a href="/tech/speech/wake" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/speech-wake.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">语音唤醒</div>
                        <div class="ai-tech-item-detail">支持特定语音指令唤醒，唤醒的同时执行指令操作，轻量级，低功耗，可自定义</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ai-accordion-item">
            <div class="ai-accordion-title">
                视觉技术
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content" style="height:0;">
                <a href="/tech/ocr" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/image-word.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">文字识别</div>
                        <div class="ai-tech-item-detail">提供多种场景下精准的图像文字识别技术服务，提升输入效率，优化用户体验</div>
                    </div>
                </a>
                <a href="/tech/face" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/image-face.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">人脸识别</div>
                        <div class="ai-tech-item-detail">提供快速准确的人脸检测、关键点定位、人脸1：1比对、人脸1：N识别、活体检测等能力</div>
                    </div>
                </a>
                <a href="/tech/imagecensoring" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/image-auditing.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">图像审核</div>
                        <div class="ai-tech-item-detail">识别图片中的涉黄、涉暴涉恐、政治敏感、微商广告、恶心等内容，节省审核人力</div>
                    </div>
                </a>
                <a href="/tech/imagerecognition" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/image-recognition.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">图像识别</div>
                        <div class="ai-tech-item-detail">基于深度学习及大规模图像训练，准确识别图片中的物体类别、位置、置信度等综合信息</div>
                    </div>
                </a>
                <a href="/tech/imagesearch" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/image-search.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">图像搜索</div>
                        <div class="ai-tech-item-detail">以图搜图，在指定图库中搜索出相同或相似的图片</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ai-accordion-item">
            <div class="ai-accordion-title">
                视频技术
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content" style="height:0;">
                <a href="/tech/video/vca" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/video-vca.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">视频内容分析</div>
                        <div class="ai-tech-item-detail">对视频进行语音、文字、人脸、物体、场景多维度分析，输出视频泛标签</div>
                    </div>
                </a>
                <a href="/tech/video/vcs" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/video-vcs.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">视频封面选取</div>
                        <div class="ai-tech-item-detail">智能选取静态或动态画面作为视频封面</div>
                    </div>
                </a>
                <a href="/tech/video/vcc" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/video-vcc.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">视频比对检索</div>
                        <div class="ai-tech-item-detail">通过图像或者视频片段，快速搜索所属视频</div>
                    </div>
                </a>
                <a href="/tech/video/vcr" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/video-vcr.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">视频内容审核</div>
                        <div class="ai-tech-item-detail">识别视频中的涉黄、涉暴涉恐、政治敏感、广告、自定义黑库等内容</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ai-accordion-item">
            <div class="ai-accordion-title">
                增强现实
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content" style="height:0;">
                <a href="http://ar.baidu.com/m/" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/ar.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">百度AR平台</div>
                        <div class="ai-tech-item-detail">提供AR SDK及内容制作工具，让APP可快速集成AR能力</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ai-accordion-item">
            <div class="ai-accordion-title">
                自然语言
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content" style="height:0;">
                <a href="/tech/nlp" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/nlpc.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">语言处理基础技术</div>
                        <div class="ai-tech-item-detail">国际领先的自然语言处理技术，提供丰富强大的语义分析能力</div>
                    </div>
                </a>
                <a href="/tech/textcensoring" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/text-auditing.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">文本审核</div>
                        <div class="ai-tech-item-detail">识别过滤垃圾、广告、反动、色情等非法UGC内容</div>
                    </div>
                </a>
                <a href="/tech/unit" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/unit.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">理解与交互技术UNIT</div>
                        <div class="ai-tech-item-detail">搭载业界领先的需求理解、对话控制及底层的自然语言处理能力，快速构建机器人</div>
                    </div>
                </a>
                <a href="http://fanyi-api.baidu.com" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/translation.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">百度翻译开放平台</div>
                        <div class="ai-tech-item-detail">提供28种语言高质量翻译服务，覆盖中、英、日、韩、俄、葡等热门语种</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ai-accordion-item">
            <div class="ai-accordion-title">
                数据智能
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content" style="height:0;">
                <a href="http://di.baidu.com/#products" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/data-analyze.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">数据收集与处理</div>
                        <div class="ai-tech-item-detail">多系统多模式的数据传输、统一的批量及流式数据处理</div>
                    </div>
                </a>
                <a href="http://di.baidu.com/#products" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/data-analysis-search.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">数据分析与检索</div>
                        <div class="ai-tech-item-detail">大数据多维分析、检索、可视化及在线计算服务</div>
                    </div>
                </a>
                <a href="http://di.baidu.com/#products" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/data-apply.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">数据统计与应用</div>
                        <div class="ai-tech-item-detail">网站、APP、实体门店的全域数据分析工具及个性化推荐能力</div>
                    </div>
                </a>
                <a href="http://di.baidu.com/#products" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/audience.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">受众定位与触达</div>
                        <div class="ai-tech-item-detail">挖掘目标顾客及商家，预测销售商机，提供群体报告服务</div>
                    </div>
                </a>
                <a href="http://di.baidu.com/#products" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/marketing.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">营销辅助分析</div>
                        <div class="ai-tech-item-detail">洞察市场及消费者信息，指导企业线上线下营销活动</div>
                    </div>
                </a>
                <a href="http://di.baidu.com/#products" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/risk-control.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">风控与反欺诈</div>
                        <div class="ai-tech-item-detail">基于用户行为特征，提供风险识别、风险定价、精准营销、甄别欺诈等服务</div>
                    </div>
                </a>
                <a href="http://di.baidu.com/#products" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/public-option.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">舆情监控分析</div>
                        <div class="ai-tech-item-detail">全方位分析互联网舆论，实时监控舆情动态，追溯事件脉络</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ai-accordion-item">
            <div class="ai-accordion-title">
                知识图谱
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content" style="height:0;">
                <a href="/tech/cognitive" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/cognitive.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">知识理解</div>
                        <div class="ai-tech-item-detail">基于知识图谱丰富的数据体系，提供对文本语义中实体、概念等深度理解解析能力</div>
                    </div>
                </a>
                <a href="/tech/kg/schema" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/schema.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">知识图谱Schema</div>
                        <div class="ai-tech-item-detail">定义知识图谱数据模型及用以描述物理世界的词汇体系，规范结构化数据的表达</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ai-accordion-item">
            <div class="ai-accordion-title">
                深度学习
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content" style="height:0;">
                <a href="http://paddlepaddle.org/" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/paddle.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">PaddlePaddle</div>
                        <div class="ai-tech-item-detail">开源、易用的分布式深度学习平台</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ai-accordion-item">
            <div class="ai-accordion-title">
                开放数据集
                <div class="ai-accordion-arrow"></div>
            </div>
            <div class="ai-accordion-content" style="height:0;">
                <a href="/broad" class="ai-tech-item">
                    <img src="//aip.bdstatic.com/portal/dist/m/1521724704741/images/home/data-broad.png" class="ai-tech-item-icon">
                    <div class="ai-tech-item-text">
                        <div class="ai-tech-item-title">开放数据集</div>
                        <div class="ai-tech-item-detail">帮助开发者快速训练自己的人工智能模型及算法</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>